*{
    margin: 0;
    padding: 0;
}
#tasklist{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#addbutton{
    display: flex;
    font-size: 30px;
    margin-left: 20%;
    padding-top: 10px;
}
.container1{
    display: flex;
    margin: 10% 0px 0px 20%;
}
.container2{
    margin-left:0;
    margin-top:0;
}
.page1-boxes{
    display:inline-block;
    border:0.07rem solid #EF5350;
    border-radius:0.32rem;
    width:12rem;
    height:15rem;
    text-align:left;
    box-shadow:0.32rem 0.32rem  0.4em lightgrey;
    margin-left:2em;
    margin-bottom:1em;
    font-weight:100;
    font-size:1.5em;
    color:#424242;
}
div .page1-boxes p{
    margin-left:0.5em;
    margin-top:3em;
}
.container3{
    text-align: center;
    font-size: 60px;
    color:black;
    margin-top: 40px;
}
.backbutton{
    margin: 70px 0 0 45%;
    font-size: 40px;
    display: flex;
}
.backbutton span{
    padding: 0 0 0 10px;
}
.container4{
    display: inline-flex;
    padding:50px 0 0 200px;
    margin-left: 280px;
    text-align: center;
    color: red;

}
.backbutton{
    margin: 70px 0 0 45%;
    font-size: 30px;
   
}
#heading{
    text-align: center;
}
.back-icon{
    color:white;
    background-color: red;
    background-size: 20px;
    padding: 0;
    margin-right: 20px;
  
}
.card1{
    border: 1px solid red;
    display: inline-block;
    border-radius: 5px;
    width: 20%;
    height: 300px;
    margin: 4% 0 0 36%;
    padding: 10px 0 0 100px;
    line-height: 2;
    font-size: 25px;
    color: red;
    box-shadow:5px 5px 5px darkgrey;
}
.additem1{
    position:absolute;
    top: 30%;
    left: 35%;
    z-index: 5;
    border: 1px solid red;
    border-radius: 5px;
    width: 30%;
    height: 200px;
    text-align: center;
    color: red;
    box-shadow: 5px 5px 5px darkgray;
    background: white;
    padding: 30px 20px 20px 20px;
    font-size: 25px;
}
#additem2{
    box-shadow: 5px 5px 5px darkgray;
    border-radius: 5px;
    border: 1px solid red;
    width: 60%;
    height: 50px;
    font-size: 30px;
}
.blur1{
    filter: blur(6px);
}
.button2{
    margin-top: 100px;
    margin-left: 200px;
}

#page-linker{
    text-align: center;
    margin-top: 50px;
}
@media screen and (max-width: 600px){
    
    #addbutton{
        position: absolute;
        top: 5%;
        right: 5%;
        margin-top: 20px;
        
    }
    
    .text{
        display: none;
    }
    #tasklist{
        text-align:center;
        margin-top:2rem;
        margin-bottom:2rem;
    }
    
    .page1-boxes{
        border:0.07rem solid #EF5350;
        border-radius:0.32rem;
        width:15rem;
        height:3.5rem;
        text-align:left;
        box-shadow:0.32rem 0.32rem  0.4em lightgrey;
        margin-left:0.5em;
        margin-bottom:1em;
        font-weight:100;
        font-size:1em;
        color:#424242;
    }
    div .page1-boxes p{
        margin-left:0.8em;
        margin-top:1em;
    }
    .container2{
        display: block;
        margin-left: 25%;
        padding-left: 0;
    }
    .page1-body{
        margin-top: 10%;
        height: 50px;
        overflow: hidden;
    }
    .container3{
        position: absolute;
        top: 1%;
        left: 0%;
        width: 100%;
        overflow: visible;
    }
    .line{
        display: none;
    }
    .back{
        display: none;
    }
    .paris{
        /* position: absolute; */
        top: 100%;
        left: 15%;
        font-size: 30px;
    }
    .backbutton{
        position: absolute;
        left: -40%;
        top: -5%;
    }
    .card1{
        position: absolute;
        top: 20%;
        left: -10%;
        overflow: hidden;
        width: 200px;
        height: 400px;
        padding-left: 10%;
    }
    .addbuttonparis{
        position: absolute;
        top: 80%;
        left: 70%;
    }
    .additem1{
        position: absolute;
        left: 5%;
        width: 80%;
        height: 150px;
        line-height: 0.9;
    }
    .goback2{
        position: absolute;
        top: 5%;
        left: 5%;
    }
    #page-linker{
        position: relative;
        margin-top:2rem;
        font-size:1rem;
        text-align:center;
        margin-right:2rem;
    }

}